<?xml version="1.0"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>-->
  <appSettings>
    <add key="IBAccountId" value="DU74885" />
    <add key="IBClientId" value="7" />
    <add key="IBHostname" value="127.0.0.1" />
    <add key="IBPort" value="7496" />
    <add key="EpochSecs" value="43200" />
    <add key="ZViewerPath" value="Z:\Zeus\ZViewer.exe"/>
    <add key="ZEvalScriptPath" value="Z:\Zeus\XL\ZEvalSetup.r"/>
    <add key="XLOMDataStoreLocation" value="C:\Temp"/>    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="C1DB6FF4EAA06AEB" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>